<section class="course-container" id="about">
    <div class="container">
        <div class="row text-center mx-auto">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 p-0 card">
                
                <div class="single-item-first">
                    <div class="blog-img">
                        <a href=""><img src="./assets/images/img-13.jpg" class="w-100 img-fluid img-border-right img-hover"
                                alt=""></a>
                    </div>
                    <div class="blog-title p-4">
                        <span class="text-primary la-gy pt-5">Look At</span>
                        <h3>
                            <a href="" class="text-decoration-none text-dark fw-bold pt-2">Next Scheduled</a>
                        </h3>
                        <p class="p-4 text-secondary">Lorem Ipsum dolor sit amet mollis felis arcu donec viverra.
                            Pede phasellus etiam;
                            Aaecenas vel vici quis dictum rutrum nec nisi et ac penatibus aenean....</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 p-0 course-img-ms card">

                <div class="single-item-center">
                    <div class="blog-img">
                        <a href=""><img src="./assets/images/img-[2].jpg" class="w-100 img-fluid img-border-red"
                                alt=""></a>
                    </div>
                    <div class="blog-title p-4">
                        <span class="text-danger pt-5">Go To</span>
                        <h3>
                            <a href="" class="text-decoration-none text-dark fw-bold">Online Courses</a>
                        </h3>
                        <p class="p-5 text-secondary">Lorem Ipsum dolor sit amet mollis felis arcu donec viverra.
                            Pede phasellus etiam;
                            Aaecenas vel vici quis dictum rutrum nec nisi et ac penatibus aenean. Pede enim
                            nunc ultricies quis rhoncus penatibus tincidunt integer felis...</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 p-0 card">

                <div class="single-item-end single-item-first">
                    <div class="blog-img">
                        <a href=""><img src="./assets/images/img[4].jpg" class="w-100  img-fluid img-border-left"
                                alt=""></a>
                    </div>
                    <div class="blog-title p-4">
                        <span class="text-primary la-gy pt-5">Get Your</span>
                        <h3>
                            <a href="" class="text-decoration-none text-dark fw-bold">Education Equip</a>
                        </h3>
                        <p class="p-4 text-secondary">Lorem Ipsum dolor sit amet mollis felis arcu donec viverra.
                            Pede phasellus
                            etiam; Aaecenas vel vici quis dictum rutrum nec nisi et ac penatibus
                            aenean....</p>
                    </div>
                </div>
            </div>



        </div>
    </div>


</section>
