<footer class="footer-full" id="pages">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 pt-5">
                 <div class="">
                    <img src="assets/images/nav-footer-logo.png" alt="">
                </div>
                <div class="mt-4 pt-4">
                    <p>Ante amet vitae vulputate odio nulla vel pretium pulvinar aenean. Rhoncus eget adipiscing etiam arcu. Ultricies justo ipsum nec amet.</p>
                </div>
            </div>
            <div class="col-12 col-lg-3 pt-5">
                <h2 class="">Useful Links</h2>
                <ul class="mt-4 pt-4">
                    <li>About Us</li>
                    <li>Blog</li>
                    <li>Developers</li>
                    <li>Services</li> 
                    <li>contacts</li>
                </ul>
            </div>
            <div class="col-12 col-lg-3 pt-5">
                <h2 class="">information</h2>
                <ul class="mt-4 pt-4">
                    <li>Campus Tour</li>
                    <li>Student Life</li>
                    <li>Scholarship</li>
                    <li>Admission</li> 
                    <li>Leadership</li>
                </ul>
            </div>
            <div class="col-12 col-lg-3 pt-5">
                <h2 class="">Contact Us</h2>
                <p class="mt-4 pt-4">Fell free to get in touch us via Phone or send us a message.</p>
                <p>+000 124 325  <span class="text-danger">info@eduwise.com</span></p>
                <div class="d-flex pt-3">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter ms-5"></i>
                    <i class="fa-brands fa-linkedin-in ms-5"></i>
                    <i class="fa-brands fa-square-instagram ms-5"></i>
                </div>
            </div>
        </div>
    </div>
</footer>
