<section class="banner-section" id="home">
    <div class="banner col-lg-8">
        <p class="p-5 pb-0">The goal of education is the advancement of knowledge</p>

        <h1 class="p-5 pt-0">Take the first step to knowledge with us.</h1>
        <div class="row">
            <div class="col-12 col-sm-4">
                <button type="button" class="btn bg-danger text-light  btn-text">GET
                    STARTED
                    NOW</button>
            </div>
            <div class="col-12 col-sm-4">
                <button type="button" class="btn bg-primary text-light  btn-text banner-vc">VIEW
                    COURSES</button>
            </div>
        </div>
    </div><br>

</section>
