<section class="grid-container" id="courses">
    <div class="row justify-content-center">
        <div class="fw-bold text-center pt-5">
            <h1 class="our-p-c">Our Popular Courses</h1>
            <p class="p-5 text-secondary">Lorem ipsum dolor sit amet mollis felis dapibus arcu donec
                viverra. Pede phasellus eget.<br> Etiam maecenas vel vici quis dictum rutrum nec nisi et.</p>
        </div>
        <div class="card ms-5 mt-5 p-0" style="width: 22rem;">
            <div class="position-relative">
                <img src="./assets/images/img-14.jpg" class="img-fluid" alt="...">
                <div class="position-absolute bottom-0 end-0"><button
                        class="text-light fs-4 fw-bold sale">$150</button></div>
            </div>
            <div class="card-body">
                <h5 class="card-title mt-1 fw-bold card-names">Make Better Decisions</h5>
                <p class="card-text pt-2 text-secondary">Teacher-<a href=""
                        class="fw-bold card-names text-decoration-none">Jhonthan Smith</a></p>
                <div>
                    <div>
                        <button class="float-end mt-3 fw-bold text-light add-cart">ADD TO CART</button>
                        <p class="pt-2 text-secondary">📅 180 Days</p>
                        <p class="text-secondary">👨‍🎓 30 Students</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card ms-5 mt-5 p-0" style="width: 22rem;">
            <div class="position-relative">
                <img src="./assets/images/img-15.jpg" class="img-fluid" alt="...">
                <div class="position-absolute bottom-0 end-0"><button
                        class="text-light fs-4 fw-bold sale">FREE</button></div>
            </div>
            <div class="card-body">
                <h5 class="card-title mt-1 fw-bold card-names">How To Be A Speaker</h5>
                <p class="card-text pt-2 text-secondary">Teacher-<a href=""
                        class="fw-bold card-names text-decoration-none">Denise
                        Wood</a></p>
                <div>
                    <div>
                        <button class="float-end mt-3 fw-bold text-light add-cart">ADD TO CART</button>
                        <p class="pt-2 text-secondary">📅 180 Days</p>
                        <p class="text-secondary">👨‍🎓 50 Students</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card ms-5 mt-5 p-0" style="width: 22rem;">
            <div class="position-relative">
                <img src="./assets/images/img-16.jpg" class="img-fluid" alt="...">
                <div class="position-absolute bottom-0 end-0"><button
                        class="text-light fs-4 fw-bold sale">$120</button></div>
            </div>
            <div class="card-body">
                <h5 class="card-title mt-1 fw-bold card-names">Network Introductions</h5>
                <p class="card-text pt-2 text-secondary">Teacher-<a href=""
                        class="fw-bold card-names text-decoration-none">Preston Marshall</a></p>
                <div>
                    <div>
                        <button class="float-end mt-3 fw-bold text-light add-cart">ADD TO CART</button>
                        <p class="pt-2 text-secondary">📅 140 Days</p>
                        <p class="text-secondary">👨‍🎓 60 Students</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card ms-5 mt-5 p-0" style="width: 22rem;">
            <div class="position-relative">
                <img src="./assets/images/img-17.jpg" class="img-fluid" alt="...">
                <div class="position-absolute bottom-0 end-0"><button
                        class="text-light fs-4 fw-bold sale">$250</button></div>
            </div>
            <div class="card-body">
                <h5 class="card-title mt-1 fw-bold card-names">Brand Management</h5>
                <p class="card-text pt-2 text-secondary">Teacher-<a href=""
                        class="fw-bold card-names text-decoration-none">John
                        Porter</a></p>
                <div>
                    <div>
                        <button class="float-end mt-3 fw-bold text-light add-cart">ADD TO CART</button>
                        <p class="pt-2 text-secondary">📅 130 Days</p>
                        <p class="text-secondary">👨‍🎓 45 Students</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card ms-5 mt-5 p-0" style="width: 22rem;">
            <div class="position-relative">
                <img src="./assets/images/img-18.jpg" class="img-fluid" alt="...">
                <div class="position-absolute bottom-0 end-0"><button
                        class="text-light fs-4 fw-bold sale">$180</button></div>
            </div>
            <div class="card-body">
                <h5 class="card-title mt-1 fw-bold card-names">Moralities Of Everyday</h5>
                <p class="card-text pt-2 text-secondary">Teacher-<a href=""
                        class="fw-bold card-names text-decoration-none">Mittie
                        Hill</a></p>
                <div>
                    <div>
                        <button class="float-end mt-3 fw-bold text-light add-cart">ADD TO CART</button>
                        <p class="pt-2 text-secondary">📅 190 Days</p>
                        <p class="text-secondary">👨‍🎓 40 Students</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card ms-5 mt-5 p-0" style="width: 22rem;">
            <div class="position-relative">
                <img src="./assets/images/img-19.jpg" class="img-fluid" alt="...">
                <div class="position-absolute bottom-0 end-0"><button
                        class="text-light fs-4 fw-bold sale">$130</button></div>
            </div>
            <div class="card-body">
                <h5 class="card-title mt-1 fw-bold card-names">Life Coach Training</h5>
                <p class="card-text pt-2 text-secondary">Teacher-<a href=""
                        class="fw-bold card-names text-decoration-none">Marian
                        Dupre</a></p>
                <div>
                    <div>
                        <button class="float-end mt-3 fw-bold text-light add-cart">ADD TO CART</button>
                        <p class="pt-2 text-secondary">📅 150 Days</p>
                        <p class="text-secondary">👨‍🎓 30 Students</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
